body {
	margin: 0;
}

.slider {
	background-color: #ffffff;
	max-width: 100%;
	position: relative;
	clear: both;
	overflow: hidden;
	height: 300px;
}

.slider	.slide {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	transform: scale(1);
	/* transition: all 2s; */
	width: 100%;
	height: 100%;
}

.slider	.slide:hover {

}


.slider	.slide img {
	position: relative;
	max-width: 100%;
	height: 100%;
	visibility: hidden;
}

.slider	.slide .left-part {
	width: 50%;
	height: 100%;
	left: -50%;
	float: left;
	background-size: 200% 100%;
	background-repeat: no-repeat;
	/* transition: all 2s; */
	position: absolute;
}
.slider	.slide	.right-part {
	float: left;
	width: 50%;
	height: 100%;
	right: -50%;
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	/* transition: all 2s; */
	position: absolute;
}

.slider .slider-nav {
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 100%;
	z-index: 15;
}

.slider .slider-nav	.prev-slide {
	position: absolute;
	height: 64px;
	top: calc(50% - 30px);
	color: #E2E2E2;
	outline: none;
	padding: 10px 15px;
	font-size: 2em;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid #DDD8D8;
	cursor: pointer;
}

.slider .slider-nav	.prev-slide span {
	position: relative;
	left: 0px;
	transition: all .3s;
	
}

.slider .slider-nav	.prev-slide:hover span {
	position: relative;
	left: -5px;

}
.slider .slider-nav .next-slide {
	position: absolute;
	height: 64px;
	top: calc(50% - 30px);
	color: red;
	outline: none;
	padding: 10px 15px;
	font-size: 2em;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid #DDD8D8;
	right: 0;
	cursor: pointer;
}
.slider .slider-nav .next-slide span {
	position: relative;
	left: 0px;
	transition: all .3s;
	
}
.slider .slider-nav .next-slide:hover span {
	position: relative;
	left: 5px;
	
}

.slider .slider-dots {
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	text-align: center;
	z-index: 15;
}

.slider .slider-dots .slide-dot {
	top: 50%;
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: transparent;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0.7);
	margin: 0 5px;
	cursor: pointer;
	transition: background-color .8s;
}
